@import './../_variables.scss';
@import './../_mixins.scss';

form{
	width: 100%;
	@include center-items;
}


.container{
	@include center-items;
	width: 50%;
}

.form_input{
	width: 30%;
	background: $white;
	border: 0.5px solid $black;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 0.5em;
	text-align: center;
}
.form_btn{
	background-color: $black;
	color: $white;
	border: 0.5px solid $black;
	width: 20%;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 0.5em;
}

@media only screen and (max-width: 630px){
	.input_btn{
		width: 55%;
	}
}