<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="<%= url("/styles/landing/landing.css") %>">
</head>
<body>
	<section class="container">
		<h1>Chitter</h1>
		<% if @user.nil? %>
      <form action="/user/login" method="get">
				<label class="sr-only" for="login">Login</label>
        <input type="submit" value ="Login" name="login"/>
      </form>
			<form action="/user/signup" method="get">
				<label class="sr-only" for="signup">Sign up</label>
        <input type="submit" value ="Sign up" name="signup"/>
      </form>
		<% end %>

		<% if @user %>
		<form action="/logout" >
			<label class="sr-only" for="logout"> Logout</label>
			<input type="submit" value ="Logout" name="logout"/>
		</form>
		<% end %>
	</section>
</body>
</html>