<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Chitter - Login</title>
		<link rel="stylesheet" type="text/css" href="<%= url("/styles/landing/landing.css") %>">
		<script src="https://kit.fontawesome.com/65db07c83e.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<section class="container">
			<h1>Chitter</h1>
			<h2>Login</h2>
			<form action="/users/login_successful" method="POST">

				<label class="sr-only" for="username">Username</label>
				<input type="text" name="username" class="form_input" placeholder="username"/>

				<label class="sr-only" for="passsword">Password</label>
				<input type="text" name="password" class="form_input" placeholder="password"/>

				<input type="submit" name="submit" value="Login" class="form_btn">

			</form>
		</section>
	</body>
</html>
