@import './../_variables.scss';
@import './../_mixins.scss';

.feed-grid{
	@include feed-grid;
	height: 100vh;
	padding: 1em;
}

.side-grid{
	@include side-grid;
	min-height: 0;
}

h2{
	font-family: 'Lobster Two', cursive, sans-serif;
	font-size: 2.5em;
	letter-spacing: 0.06em;
}
h3{
	color: $white;
}
.side-grid-header{
	align-self: start;
}
.user-info{
	align-self: end;
	// justify-self: center;
}
.peeps-grid{
	justify-self: center;
	width: 100%;
	min-height: 0;
}
.make-peep{
	@include feed-grid;
	border-bottom: 0.3em solid $black;
}
#create_peep{
	border: 0.2px solid transparent;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	height: 5em;
	display: grid;
	grid-template-rows: 2fr 1fr;
	padding: 0.2em;
	margin: 0.5em;

}
.peep_input{
	font-size: 1.2em;
}
.peep_message{
	border: none;
	background-color: transparent;
	text-align: left;
}
.all-peeps{
	justify-self: center;
	display: grid;
	overflow:auto;    
	height: 100%;
	margin-right: -2000px;
	padding-right: 2000px;
}
.peep-grid{
	@include feed-grid;
	width: 80%;
	justify-self: center;
	margin-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 0.1em solid $black;
}
.peep-info{
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}
#peep-message{
	justify-self: center;
	align-self: center;
}
#peep-date{
	align-self: end;
	font-size: 0.8em;
}
b{
	color: $white;
	font-size: 1.2em;
}
.user-buttons{
	justify-self: end;
	min-height: 0;
}

.input_comments{
	background-color: transparent;
	border: 0.3px solid $black;
	border-radius: 5px;
}
.input_hidden{
	display: none;
}