$purple: #786BAF;
$black:rgba(0, 0, 0, 1);
$white:rgba(255, 255, 255, 0.95);
$gray: #b2b2b2;

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1{
	font-family: 'Lobster Two', cursive, sans-serif;
	font-size: 3em;
	letter-spacing: 0.06em;
}